<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.course.mapper.ScheduleMapper">
    <resultMap id="BaseResultMap" type="com.neusoft.course.mapper.dao.ScheduleModel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="schedule_date" jdbcType="VARCHAR" property="date"/>
        <result column="server_morning" jdbcType="VARCHAR" property="serverMorning"/>
        <result column="sign_morning" jdbcType="VARCHAR" property="signMorning"/>
        <result column="server_noon" jdbcType="INTEGER" property="serverNoon"/>
        <result column="sign_noon" jdbcType="VARCHAR" property="signNoon"/>
        <result column="server_afternoon" jdbcType="TIMESTAMP" property="serverAfternoon"/>
        <result column="sign_afternoon" jdbcType="VARCHAR" property="signAfternoon"/>
        <result column="fix" jdbcType="VARCHAR" property="fix"/>
        <result column="sign_fix" jdbcType="VARCHAR" property="signFix"/>
        <result column="clean1" jdbcType="VARCHAR" property="clean1"/>
        <result column="sign_clean1" jdbcType="VARCHAR" property="signClean1"/>
        <result column="clean2" jdbcType="VARCHAR" property="clean2"/>
        <result column="sign_clean2" jdbcType="VARCHAR" property="signClean2"/>
        <result column="clean3" jdbcType="VARCHAR" property="clean3"/>
        <result column="sign_clean3" jdbcType="VARCHAR" property="signClean3"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, schedule_date, "server_morning", "sign_morning", server_noon, sign_noon, server_afternoon, sign_afternoon, fix, sign_fix, clean1, sign_clean1, clean2, sign_clean2, clean3, sign_clean3
    </sql>
    <select id="getSchedules" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_access."schedule"
    </select>
    <update id="SingIn">
        update user_access."schedule" set 
        <if test="server_morning==userId"></if>
    </update>
</mapper>
