<div class="p-d-flex">
  <div class="p-grid p-jc-center">
    <div class="p-col-12">
      <div class="p-grid p-jc-center">
      <app-carousel></app-carousel>
      </div>
    </div>
    <div class="p-col-8">
  <p-fieldset legend="活动">
    <app-activities-list></app-activities-list>
  </p-fieldset>
    </div>
    <div class="p-col-8">
  <p-fieldset legend="帖子">
    <app-add-post></app-add-post>
    <app-dashboard></app-dashboard>
  </p-fieldset>
</div>
    <div class="p-col-8">
  <app-notice></app-notice>
    </div>
</div>
</div>
